{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["off"]
  }
}
