lib
node_modules
temp
docs/.nuxt
docs/dist
.nuxt
.output
dist

docs/static/sw.js

test/node_modules
test/.nuxt
test/cypress/videos
test/cypress/screenshots
coverage

.vscode/
.cache
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/.temp
